{% extends 'base.html' %}
{% block content %}
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">BUS COMPANY</a>
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Stopping Points of {{route_id}} in Trip {{trip_index}}</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Stopping point
                      </th>
                      <th>
                        Visit Index
                      </th>
                      <th>
                        Arrival Time
                      </th>
                      <th>
                        Departure Time
                      </th>
                    </thead>
                    <tbody>
                      {% for visit in visit_list %}
                        <tr>
                          <td> {{visit.stopping_point_id}} </td>
                          <td> {{visit.visit_index}} </td>
                          <td> {{visit.arrival_time}} </td>
                          <td> {{visit.departure_time}} </td>
                        </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStop" style="float: right;" >
                  Add stopping point
                  </button>
                </div>
              </div>
            </div>
          </div>


<div class="modal fade" id="addStop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Stopping Point</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% csrf_token %}
      <form method="post">
      <div class="modal-body">
        <div class="table">
          <table>
            <tbody>
            <tr>
            {% csrf_token %}
              <td>{{form.route_id.label}}</td>
              <td> <input name="route_id" value="{{route_id}}" readonly> </input></td>
            </tr>
            <tr>
            {% csrf_token %}
              <td>{{form.trip_index.label}}</td>
              <td> <input name="trip_index" value="{{trip_index}}" readonly> </input></td>
            </tr>
            <tr>
            {% csrf_token %}
              <td>{{form.stopping_point_id.label}}</td>
              <td>{{form.stopping_point_id}}</td>
            </tr>
            <tr>
            {% csrf_token %}
              <td>{{form.index.label}}</td>
              <td> <input name="index" value="{{index}}" readonly> </input></td>
            </tr>
            <tr>
            {% csrf_token %}
              <td>{{form.arrival_time.label}}</td>
              <td><input type="time" id="appt" name="arrival_time" min="04:00" max="18:00" required></td>
            </tr>
            <tr>
            {% csrf_token %}
              <td>{{form.departure_time.label}}</td>
              <td><input type="time" id="appt" name="departure_time" min="04:00" max="18:00" required></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="{{route_id}}, {{trip_index}}">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

