{% extends 'base.html' %}
{% block content %}
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">BUS COMPANY</a>
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-15">
            <div class="card">
              <div class="container-fluid">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler">
                    <a href="/route/add">
                      <i class="now-ui-icons ui-1_simple-add"></i>
                      <p>Add new Route</p>
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Table of Route</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Route ID
                      </th>
                      <th>
                        Trips
                      </th>
                    </thead>
                    <tbody>
                      {% for entry in object_list %}
                        <tr>
                          <td>{{ entry.route_id }}</td>
                          <td>
                            <table>
                              {% csrf_token %}
                              {% for trip in entry.trip_index %}
                              <tr>
                              <td>
                              Trip ID: 
                              </td>
                              <td>
                              <form method="post">
                                {% csrf_token %}
                                <button type="submit" name="editTripEntry" value="{{ trip }}, {{entry.route_id}}" rel="tooltip" class="btn btn-info btn-round" data-original-title="Edit">
                                {{entry.route_id}} - {{trip}}
                                </button>
                              </form>
                              </td>
                              </tr>
                              {% endfor %}
                            </table>
                          </td>
                          <td class="td-actions text-right">
                          
                          <form method="post">
                          {% csrf_token %}
                          
                          <button type="submit" name="editEntry" value="
                          {{ entry.route_id }},
                          {{ entry.trip_index }}"
                          rel="tooltip" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral " data-original-title="Edit">
                            <i class="now-ui-icons shopping_delivery-fast"></i></button>

                          <button type="submit" name="deleteEntry" value="{{ entry.id }}" rel="tooltip" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral " data-original-title="Remove">
                          </button>
                          </form>
                        </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}