{% extends 'base.html' %}
{% block content %}
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">BUS COMPANY</a>
          </div>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Table of Passenger</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Social Sercurity Number
                      </th>
                      <th>
                        Job
                      </th>
                      <th>
                        Sex
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Date of Birth
                      </th>
                    </thead>
                    <tbody>
                      {% for entry in object_list %}
                        <tr>
                          <td>{{ entry.passenger_id }}</td>
                          <td>{{ entry.ssn }}</td>
                          <td>{{ entry.job }} </td>
                          <td>{{ entry.sex }} </td>
                          <td>{{ entry.email }} </td>
                          <td>{{ entry.dob }} </td>
                          <td class="td-actions text-right">
                          {% comment %} <form method="post">
                          {% csrf_token %}

                          <button type="submit" name="editEntry" value="
                          {{ entry.passenger_id }},
                          {{ entry.ssn }},
                          {{ entry.job }},
                          {{ entry.sex }},
                          {{ entry.email }},
                          {{ entry.dob }} "
                          rel="tooltip" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral " data-original-title="Edit">
                            <i class="now-ui-icons ui-2_settings-90"></i></button>

                          <button type="submit" name="deleteEntry" value="{{ entry.id }}" rel="tooltip" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral " data-original-title="Remove">
                            <i class="now-ui-icons ui-1_simple-remove"></i></button>
                          </form> {% endcomment %}
                        </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}